[pyrat]

# Pyrat Bay run mode, select from: [tli pt atmosphere spectrum opacity mcmc]
runmode = atmosphere

# Pressure array (units, bottom and top boundaries, number of layers):
punits  = bar
pbottom = 100.0
ptop    = 1e-8
nlayers = 100

# Temperature-profile model, select from: [isothermal TCEA MadhuInv MadhuNoInv]
tmodel  = isothermal
tparams = 1500

# Output atmospheric model:
atmfile  = isothermal_1500K_uniform.atm
# Output species composition:
species  = H2        He        H         Na        K         H2O
           CH4       CO        CO2       HCN       NH3       N2
           TiO       VO        C2H2      C2H4
# Set vertical-uniform abundances for species:
uniform  = 8.53e-01  1.45e-01  4.80e-05  1.00e-05  1.00e-06  1.00e+00
           1.00e+00  1.00e+00  1.00e-07  1.00e-10  1.00e-08  1.00e-06
           1.52e-07  1.39e-08  3.80e-13  9.44e-15

# Verbosity level [1--5]:
verb = 4
