[pyrat]

# Pyrat Bay run mode, select from: [tli pt atmosphere spectrum opacity mcmc]
runmode = mcmc

# Output file:
mcmcfile = MCMC_WASP43b_resolved_phase0.44.npz

# Observing geometry, select between: [transit eclipse]
path = eclipse

# Atmospheric model:
atmfile = ../run_setup/isothermal_1500K_equilibrium.atm

# Cross-section opacity files:
csfile =
    {ROOT}/inputs/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
    {ROOT}/inputs/CIA/CIA_Borysow_H2He_0050-3000K_0.3-030um.dat

# Opacity file name:
extfile =
    ../run_setup/extfile_H2O_0100-3000K_0.8-5.5um_R10000.npz
    ../run_setup/extfile_CH4_0100-3000K_0.8-5.5um_R10000.npz
    ../run_setup/extfile_CO_0100-3000K_0.8-5.5um_R10000.npz
    ../run_setup/extfile_CO2_0100-3000K_0.8-5.5um_R10000.npz

# Spectrum boundaries and sampling rate:
wllow   = 1.0 um
wlhigh  = 5.5 um
wnstep  = 0.3
wnosamp = 720

# System parameters:
rstar    = 0.598 rsun
mstar    = 0.58 msun
tstar    = 4400.0
gstar    = 44473.0
rplanet  = 0.93 rjup
mplanet  = 1.78 mjup
smaxis   = 0.0142 au
tint     = 200.0
refpressure = 0.1 bar

# Eclipse-depth data:
dunits = ppm
data =
     411.0   483.6   481.2   554.1   491.8   524.5   354.0   362.9   353.0
     417.2   481.8   503.8   654.9   675.0   802.9  4154.5  4884.6
uncert =
      47.1    41.1    39.9    37.9    38.1    34.9    36.4    31.6    37.4
      36.5    34.7    36.7    37.4    37.8    43.1   115.6   129.2

filters =
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.143um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.177um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.212um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.248um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.282um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.317um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.353um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.387um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.423um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.458um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.492um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.528um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.562um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.597um.dat
    ../inputs/filters/WASP43b_hst_wfc3_g141_1.633um.dat
    {ROOT}/inputs/filters/spitzer_irac1_sa.dat
    {ROOT}/inputs/filters/spitzer_irac2_sa.dat

# Stellar spectrum:
kurucz = ../inputs/fp00ak2odfnew.pck

# Abundance models:
molmodel = vert vert vert vert
molfree  = H2O CO CO2 CH4
bulk     = H2 He H

# Radius-profile model, select from: [hydro_m hydro_g]
radmodel = hydro_m

# Temperature-profile model, select from [isothermal tcea madhu]
tmodel = tcea

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh = lecavelier
rpars = 0.0 -4.0

# Retrieval models, select from: [temp rad mol ray cloud]
retflag = temp mol
#       kappa' gamma1 gamma2 alpha    Tirr   Tint    H2O     CO    CO2    CH4
params = -5.10  -1.00   1.00  0.40  1474.7  200.0   -3.8   -4.1  -11.0  -10.7
pmin   = -7.00  -3.00  -3.00  0.00     0.0    0.0  -12.0  -12.0  -12.0  -12.0
pmax   = -3.00   2.00   2.00  1.00  3000.0  500.0   -0.1   -0.1   -0.1   -0.1
pstep  =  0.30   0.30   0.30  0.01    50.0    0.0    0.5    0.5    0.5    0.5

# MCMC temperature boundaries (K):
tlow  =  100
thigh = 3000

# Trace-abundances cap:
qcap = 0.1

# MCMC parameters:
sampler  = snooker
nsamples =     3e6
burnin   =    5000
nchains  =      24
thinning =       2
ncpu     =      24
grbreak  =    1.01
grnmin   = 1500000

# Maximum optical depth to calculate:
maxdepth = 10.0

# Verbosity level (<0:errors, 0:warnings, 1:headers, 2:details, 3:debug):
verb = 2
logxticks = 1.0 1.5 2.0 3.0 4.0 5.0
