[pyrat]

# Pyrat Bay run mode, select from: [tli pt atmosphere spectrum opacity mcmc]
runmode = mcmc

# Observing geometry, select between: [transit eclipse]
path = eclipse

# Atmospheric model:
atmfile = ../run01/isothermal_1500K_uniform.atm

# Cross-section opacity files:
csfile = ../pyratbay/inputs/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
         ../pyratbay/inputs/CIA/CIA_Borysow_H2He_0050-3000K_0.3-030um.dat

# Spectrum boundaries and sampling rate:
wllow   = 1.0 um
wlhigh  = 5.5 um
wnstep  = 0.3
wnosamp = 720

# System parameters:
radunits = km
punits   = bar
rstar    = 0.667 rsun
mstar    = 0.717 msun
tstar    = 4520.0
gstar    = 44157.0
rplanet  = 1.036 rjup
mplanet  = 2.034 mjup
smaxis   = 0.0153 au
tint     = 0.001
refpressure = 0.1 bar

# Eclipse-depth data:
data   = 2.1970e-04  2.5335e-04  2.7549e-04  3.1522e-04  2.3112e-04  
         2.9422e-04  1.1869e-04  1.9731e-04  1.6981e-04  1.6542e-04  
         2.1864e-04  2.1970e-04  3.0296e-04  3.2132e-04  4.1140e-04  
         1.9818e-03  2.7893e-03  
uncert = 5.8956e-05  5.0960e-05  5.1510e-05  4.9404e-05  4.5136e-05  
         4.5019e-05  3.9740e-05  4.2117e-05  4.2120e-05  3.9207e-05  
         4.0668e-05  4.1388e-05  4.1466e-05  4.4271e-05  5.0904e-05  
         1.1191e-04  1.9696e-04  

filters = ../inputs/filters/WASP43b_wfc3_g141_1.143um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.177um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.212um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.248um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.282um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.317um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.353um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.387um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.423um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.458um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.492um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.528um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.562um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.597um.dat
          ../inputs/filters/WASP43b_wfc3_g141_1.633um.dat
          ../pyratbay/inputs/filters/spitzer_irac1_sa.dat
          ../pyratbay/inputs/filters/spitzer_irac2_sa.dat

# Stellar spectrum:
kurucz = ../inputs/fp00ak2odfnew.pck

# Abundance models:
molmodel = vert vert vert
molfree  = H2O CO CH4
bulk     = H2 He


# Temperature-profile model, select from [isothermal tcea madhu_inv madhu_noinv]
tmodel = tcea

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh = lecavelier
rpars    = 0.0 -4.0

# Haze models, select from: [deck ccsgray]
clouds = deck

# Retrieval models, select from: [temp rad mol ray cloud]
retflag = temp mol cloud
#         kappa   gamma1 gamma2  alpha  beta  H2O    CO     CH4    Gray
params   = -1.86  -1.91   0.00   0.00   0.71  -4.66  -5.15  -5.05   0.26
pmin     = -5.0   -3.0   -3.0    0.0    0.15 -15.00 -15.00 -15.00  -8.0
pmax     =  4.0    3.0    3.0    1.0    2.00  -0.05  -0.05  -0.05   2.0
stepsize =  0.3    0.3    0.0    0.0    0.01   0.50   0.50   0.50   0.5

# MCMC temperature boundaries (K):
tlow  =  300
thigh = 3000

# Trace-abundances cap:
qcap = 0.1

# MCMC parameters:
walk     = snooker
nsamples =     2e6
burnin   =    5000
nchains  =      24
thinning =       1
ncpu     =      24
grbreak  =    1.01
grnmin   =  850000

# Opacity file name:
extfile = ../run01/exttable_H2O_0100-3000K_1.0-5.5um.dat
          ../run01/exttable_CO_0100-3000K_1.0-5.5um.dat
          ../run01/exttable_CH4_0100-3000K_1.0-5.5um.dat

# Maximum optical depth to calculate:
maxdepth = 10.0

# Verbosity level (<0:errors, 0:warnings, 1:headers, 2:details, 3:debug):
verb  = 2

# Output file names:
mcmcfile = MCMC_WASP43b_east_integrated.npz
